@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html, body {
    min-height: 100%;
    overflow-x: hidden;
}

.logonodo{
    width: 35%;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    min-width: 930px;
    width: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 2;
}

.container-fluid .navbar-brand{
    width: 30%;
    display: flex;
    justify-content: flex-start;
}

.navbar-brand{
    padding-left: 5%;
}

.navbar-nav{
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-end;
    --bs-nav-link-hover-color: rgb(231, 231, 231);
}

.navbar-nav .nav-link.active{
    color: rgb(231, 231, 231);
    text-shadow: none;
}

.nav-link{
    font-weight: bolder;
    color: rgb(167, 167, 167);
    transition: .4s;
    text-shadow: -2px 4px 11px black;
    margin: 20px;
}

.nav-link:hover{
    color: rgb(231, 231, 231);
    transition: .2s;
    text-shadow: none;
}

.carousel{
    min-width: 930px;
    display: grid;
    align-items: center;
    background-color: black;
}

.carousel-inner{
    width: 100%;
    height: 700px;
}

.carousel-item{
    width: 100%;
    height: 500px;
    transition: all 1s ease-in-out;
}
.carousel-item.active{
    transition: all 1s ease-in-out;
}

.carousel-item img{
    width: 100%;
}

.primerPalabra{
    font-size: 1em;
    font-weight: bolder;
    display: inline;
}

.segundaPalabra{
    font-weight: bold;
    display: inline;
}

.con{
    animation: c_red 1s ease 2s 1 normal forwards;
}
.men{
    animation: c_orange 1s ease 2.5s 1 normal forwards;
}
.cre{
    animation: c_cyan 1s ease 3.5s 1 normal forwards;
}
.fut{
    animation: c_blue 1s ease 4s 1 normal forwards;
}

@keyframes c_red{
    from{
        font-size: 1em;
        color: black;
    }
    to{
        font-size: 1.5em;
        color: rgb(250, 61, 61);
        font-weight: 900;
        text-shadow: -2px 5px 7px black;
    }
}
@keyframes c_orange{
    from{
        color: black;
    }
    to{
        color: rgb(247, 184, 67);
        text-shadow: -2px 4px 7px black;
        font-weight: 600;
    }
}
@keyframes c_cyan{
    from{
        font-size: 1em;
        color: black;
    }
    to{
        font-size: 1.5em;
        color: rgb(91, 159, 236);
        font-weight: 900;
        text-shadow: -2px 5px 7px black;
    }
}
@keyframes c_blue{
    from{
        color: black;
    }
    to{
        color: rgb(45, 124, 155);
        text-shadow: -2px 4px 7px black;
        font-weight: 600;
    }
}

.textConteiner{
    color: black;
    font-size: 2em;
    margin-top: 100px;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.primerTitulo{
    margin-bottom: -5px;
    display: block;
}

.segundoTitulo{
    margin-bottom: 50px;
    display: block;
}

.btn-outline-light{
    text-shadow: -2px 4px 7px black;
    transition: .4s;
}

.btn-outline-light:hover{
    text-shadow: none
}

.botonesInicio{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.botonesInicio a button{
    font-size: 0.7em;
    border-radius: 4px;
    padding: 10px 50px 10px 50px;
}

.carousel .iconos-carousel{
    display: flex;
    justify-content: flex;
    position: absolute;
    top: 12%;
    left: 4.3%;
    z-index: 3;
    width: 100%;
}

.iconos-carousel .ico{
    width: 30px;
    height: 30px;
    background-size: cover;
    margin: 10px;
}

.iconos-carousel .yt{
    background-image: url(../icon/yt-carousel.png);
    transition: 0.4s;
}

.iconos-carousel .x{
    background-image: url(../icon/x-carousel.png);
    transition: 0.4s;
}

.iconos-carousel .fb{
    background-image: url(../icon/fb-carousel.png);
    transition: 0.4s;
}

.iconos-carousel .yt:hover{
    background-image: url(../icon/yt-carousel_hover.png);
    transition: 0.2s;
}

.iconos-carousel .x:hover{
    background-image: url(../icon/x-carousel_hover.png);
    transition: 0.2s;
}

.iconos-carousel .fb:hover{
    background-image: url(../icon/fb-carousel_hover.png);
    transition: 0.2s;
}

main{
    background-image: url(../img/fondoNodo.png);
    backface-visibility: 10%;
}

#eventosNoticias{
    min-width: 930px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.conteinerNoticias{
    background-color: rgba(255, 252, 252, 0.904);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 100px 0px 100px 0px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
    padding: 50px 10px 50px 10px;
    position: relative;
    z-index: 1;
}

.conteinerNoticias h2{
    font-size: 3em;
    width: 100%;
    text-align: center;
    color: rgb(206, 205, 205);
    font-weight: 600;
    margin: 0;
}

.conteinerNoticias p{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: #9c9c9c;
}

.conteinerNoticias hr{
    width: 5%;
    color: rgb(91, 159, 236);
    transition: .2s ease;
}
.conteinerNoticias:hover hr{
    width: 30%;
    transition: .2s ease;
}

.cajasEventos {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
  }
  .wrapper {
    width: 100%;
    position: relative;

  }
  .wrapper i {
    z-index: 6;
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .slideNews{
    overflow-y: hidden;
    scrollbar-width: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .slideNews::-webkit-scrollbar {
    display: none;
  }
  .slideNews.no-transition {
    scroll-behavior: auto;
  }
  .slideNews.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .slideNews.dragging a .card {
    cursor: grab;
    user-select: none;
  }
  .slideNews a :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slideNews a .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
  }

  .slideNews a .card .img {
    background: #8B53FF;
    border-radius: 8px;
    width: 100%;
    height: 100%;
  }
  .card .img img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    transition: all ease .4s;
  }

  .card:hover .img img{
    width: 120%;
    height: 120%;
    transition: all ease .2s;
  }

  .intro{
    width: 100%;
    opacity: 0;
    transition: all ease .4s;
    position: absolute;
    z-index: 3;
    color: white;
  }

  .card:hover .intro{
    top: 50%;
    bottom: 50%;
    align-self: center;
    width: 100%;
    opacity: 1;
    transition: all ease .6s;
    position: absolute;
    z-index: 3;
    color: white;
  }

  .slideNews .card h2 {
    top: 50%;
    bottom: 50%;
    width: 100%;
    font-weight: 500;
    font-size: 1.3rem;
    margin: 10px 0 5px;
    position: absolute;
    z-index: 3;
    color: white;
    transition: all ease .6s;
  }

  .card:hover h2{
    top: 50%;
    bottom: 50%;
    transition: all ease 1s;
    text-decoration: underline;
  }

  .slideNews .card span {
    opacity: 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    color: #6A6D78;
    font-size: 1rem;
    position: absolute;
    z-index: 3;
    color: white;
    transition: all ease .4s;
  }

  .card:hover span{
    opacity: 1;
    transition: all ease .6s;
  }

  .conteinerNoticias a button{
    font-size: 0.9em;
    border-radius: 8px;
    padding: 10px 50px 10px 50px;
    background-color: rgb(91, 159, 236);
    color: white;
    font-weight: bold;
    transition: .4s;
  }
  .conteinerNoticias a button:hover{
    color: white;
    background-color: rgb(34, 141, 184);
    transition: .2s;
}

#entidades{
    min-width: 930px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.conteinerEntidades{
    background-image: url(../img/background-ent.jpg);
    background-size: cover;
    display: grid;
    justify-items: center;
    width: 100%;
    margin: 10px 0px 110px 0px;
    box-shadow: -1px 8px 20px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 50px 10px;
}

.conteinerEntidades h2{
    color: rgb(206, 205, 205);
    font-size: 3em;
    font-weight: 600;
    margin: 0;
}

.conteinerEntidades hr{
    margin-top: 5px;
    width: 2%;
    color: rgb(91, 159, 236);
    transition: .4s ease;
}

.conteinerEntidades:hover hr{
    width: 15%;
    transition: .2s ease;
}

.cajasEntidades{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap-reverse;
}

.cajasEntidades a{
    text-decoration: none;
}

.entidadesItem{
    background-color: transparent;
    margin: 0;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    box-shadow: -2px 6px 20px 1px rgba(0, 0, 0, 0.2);
    border-radius: 30%;
    transition: background-color ease .4s;
    transition: scale ease .4s;
    transition: box-shadow ease .4s;
    overflow: hidden;
}

.entidadesItem:hover{
    scale: 1.1;
    background-color: rgb(238, 238, 238);
    transition: all .2s ease;
    box-shadow: none;
}

.entidadesItem .img_foot img{
    width: 100%;
}

.logointi{
    width: 60%;
}

.entidadesItem .img_foot{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.secre, .adu, .ene, .inti{
    display: flex;
    flex-flow: wrap column;
    justify-content: space-evenly;
    align-items: center;
}

.main_foot{
    min-width: 930px;
    background: rgb(29,29,29);
    background: linear-gradient(90deg, rgba(29,29,29,1) 0%, rgba(45,45,45,1) 29%, rgba(37,37,37,1) 70%, rgba(20,20,20,1) 100%);
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.bg{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-image: url(../img/fondo_foot.png);
    background-size: cover;
    background-position: center;
}

.info{
    width: 100%;
    display: flex;
    box-shadow: -2px 6px 20px 1px rgba(0, 0, 0, 0.2);
    position: relative;
}

.info .comoLlegar{
    background-color: #f3f3f3;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.comoLlegar *{
    text-align: center;
    box-sizing: border-box;
}

.comoLlegar h2{
    font-size: 1.7em;
    margin-bottom: 20px;
    font-weight: bolder;
}

.comoLlegar h3{
    margin-bottom: 20px;
    font-weight: bold;
}

.direccion{
    width: 60%;
    height: 100%;
}

.direccion iframe{
    width: 100%;
    height: 100%;
}

#autoridades{
    min-width: 740px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
    background-image: url(../img/fondoNodo.png);
    background-size: cover;
    box-shadow: inset 3px -13px 20px 1px rgba(0, 0, 0, 0.2)
}

.containerAutoridades{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px;
    box-sizing: border-box;
}
.containerAutoridades h2{
    width: 20%;
    text-align: center;
    color: rgb(206, 205, 205);
    font-weight: 600;
}

.nombreCargo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.autoridad{
    margin: 10px;
    width: 240px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nombreCargo .autoridad h3{
    font-weight: 200;
    font-size: 1em;
    text-align: center;
    color: rgb(53, 53, 53);
}

.nombreCargo .autoridad h4{
    color: rgb(68, 68, 68);
    font-weight: 500;
    text-align: center;
    font-size: 1.3em;
}

.nombreCargo .autoridad a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(180, 180, 250);
    transition: .4s;
}
.nombreCargo .autoridad a:hover{
    color: rgb(72, 72, 129);
    transition: .2s;
}

.infoRedes{
    width: 100%;
    display: flex;
}

.contacto{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.redes{
    width: 100%;
}

.redes h4{
    color: rgb(173, 173, 173);
    text-align: center;
    font-weight: bolder;
}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.iconos .ico{
    width: 40px;
    height: 40px;
    background-size: cover;
    margin: 10px;
}

.iconos .yt{
    background-image: url(../icon/yt.png);
    transition: 0.4s;
    scale: 1.2;
}

.iconos .x{
    background-image: url(../icon/x.png);
    transition: 0.4s;
    scale: 1.1;
}

.iconos .fb{
    background-image: url(../icon/fb.png);
    transition: 0.4s;
}

.iconos .yt:hover{
    background-image: url(../icon/yt_hover.png);
    transition: 0.2s;
    scale: 1.3;
}

.iconos .x:hover{
    background-image: url(../icon/x_hover.png);
    transition: 0.2s;
    scale: 1.3;
}

.iconos .fb:hover{
    background-image: url(../icon/fb_hover.png);
    transition: 0.2s;
    scale: 1.2;
}

.contacto hr{
    width: 10%;
    color: rgb(97, 192, 255);
    transition: .4s;
}

.redes:hover~hr{
    width: 40%;
    color: rgb(97, 192, 255);
    transition: .2s;
}

.contacto h5{
    color: rgb(163, 163, 163);
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.contacto>a{
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(142, 142, 160);
    transition: 0.4s;
    text-align: center;
    font-weight: bold;
}

.contacto>a:hover{
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(74, 74, 207);
    transition: 0.2s;
}

.main_foot .bg .infoRedes>a{
    width: 50%;
}

.main_foot .bg .infoRedes a .logo_foot{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.main_foot .bg .infoRedes a .logo_foot img{
    width: 70%;
    height: 80%;
}

.go-top-container{
    position: fixed;
    bottom: 2em;
    right: 2em;
    width: 3em;
    height: 3em;
    z-index: -1;
}

.go-top-button{
    width: 0rem;
    width: 0rem;
    background-color: #2071b2;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-button i{
    position: absolute;
    font-size: 1em;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 3em;
    height: 3em;
    z-index: 11;
}

.show i{
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 4em;
        height: 4em;
    }
    100%{
        width: 3em;
        height: 3em;
    }
}

@media screen and (max-width: 900px) {
    .wrapper .slideNews {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper .slideNews {
      grid-auto-columns: 100%;
    }
  }