@media screen and (max-width: 930px) and (min-width: 460px) and (orientation: portrait){
    .navbar{
        min-width: 460px;
    }
    .carousel{
        min-width: 460px;
    }
    #eventosNoticias{
        min-width: 460px;
    }
    #entidades{
        min-width: 460px;
    }
    .entidadesItem{
        width: 8rem;
        height: 8rem;
        margin: 1rem;   
    }
    .conteinerEntidades h2{
        color: rgb(206, 205, 205);
        font-size: 3em;
        font-weight: 600;
        margin: 0;
        margin-bottom: 2rem;
    }
    
    .conteinerEntidades hr{
        display: none;
    }
    .main_foot{
        min-width: 460px;
    }
    #autoridades{
        min-width: 460px;
    }
    .containerAutoridades h2{
        position: static;
    }

    .containerAutoridades .nombreCargo{
        position: static;
    }

    .nombreCargo .autoridad h3{
        position: static;
    }
    .nombreCargo .autoridad h4{
        position: static;
    }
    .nombreCargo .autoridad a{
        position: static;
    }
}

@media screen and (max-device-width: 460px) and (min-device-width: 100px) and (orientation: portrait){
    .logonodo{
        width: 70%;
    }

    .navbar{
        min-width: 100px;
    }

    .navbar-nav{
        justify-content: center;
        align-items: center;
    }

    .carousel{
        min-width: 100px;
        height: 350px;
    }
    
    .carousel-inner{
        height: 350px;
    }

    .carousel-item{
        height: 350px;
    }

    .carousel-item img{
        height: 100%;
    }

    .textConteiner{
        margin: 0;
        top: 8rem;
    }

    .primerTitulo, .segundoTitulo{
        margin: 0;
    }
    .primerTitulo{
        margin-bottom: 20px;
    }

    .primerPalabra{
        font-size: 1.5rem;
    }

    .segundaPalabra{
        font-size: 1.5rem;
    }

    @keyframes c_red{
        from{
            font-size: 1.5rem;
            color: black;
        }
        to{
            font-size: 2rem;
            color: rgb(250, 61, 61);
            font-weight: 900;
            text-shadow: -2px 5px 7px black;
        }
    }
    @keyframes c_orange{
        from{
            color: black;
        }
        to{
            color: rgb(247, 184, 67);
            text-shadow: -2px 4px 7px black;
            font-weight: 600;
        }
    }
    @keyframes c_cyan{
        from{
            font-size: 1.5rem;
            color: black;
        }
        to{
            font-size: 2rem;
            color: rgb(91, 159, 236);
            font-weight: 900;
            text-shadow: -2px 5px 7px black;
        }
    }
    @keyframes c_blue{
        from{
            color: black;
        }
        to{
            color: rgb(45, 124, 155);
            text-shadow: -2px 4px 7px black;
            font-weight: 600;
        }
    }

    .btn-outline-light{
        display: none;
    }

    .botonesInicio{
        display: none;
    }
    
    .botonesInicio a button{
        display: none;
    }

    #eventosNoticias{
        min-width: 100px;
    }

    .wrapper i{
        display: none;
    }

    #entidades{
        min-width: 100px;
    }

    .conteinerEntidades{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .conteinerEntidades h2{
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
    
    .conteinerEntidades hr{
        display: none;
    }

    .entidadesItem{
        width: 7rem;
        height: 7rem;
        margin: 1rem;   
    }

    .main_foot{
        min-width: 100px;
        position: relative;
        bottom: 0;
    }

    .info{
        flex-wrap: wrap;
    }

    .info .comoLlegar{
        width: 100%;
    }

    .direccion{
        width: 100%;
        height: 20rem;
    }

    #autoridades{
        min-width: 100px;
    }
    .containerAutoridades{
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: center;
        margin: 20px 0px 20px 0px;
    }
    .containerAutoridades h2{
        position: static;
    }

    .containerAutoridades .nombreCargo{
        position: static;
    }

    .nombreCargo .autoridad h3{
        position: static;
    }
    .nombreCargo .autoridad h4{
        position: static;
    }
    .nombreCargo .autoridad a{
        position: static;
    }

    .iconos .ico{
        width: 1.6rem;
        height: 1.6rem;
    }

    .main_foot .bg .infoRedes .logo_foot{
        width: 50%;
        display: flex;
        align-items: center;
    }
    
    .main_foot .bg .infoRedes .logo_foot a{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: .8rem;
        left: 0rem;
    }
    
    .main_foot .bg .infoRedes .logo_foot a img{
        width: 8rem;
    }

    .redes{
        width: 100%;
        position: relative;
        bottom: 1rem;
    }
    
    .redes h4{
        color: rgb(173, 173, 173);
        text-align: center;
        font-weight: bolder;
        position: relative;
        font-size: .8rem;
        left: 0.05rem;
        top: -0.5rem;
    }
    
    .iconos{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
        left: .75rem;
        top: .3rem;
    }
}